
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

li, ul, a {
    list-style-type: none;
    text-decoration: none;
}

/* HEADER */

.studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #2e2f42;
}

.logo-top {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4d5ae5;
}

/* NAVIGATION */

.link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link:hover, .link:focus {
    color: #404bbf;
}

.link:active {
    color: #404bbf;
    text-decoration: underline;
}

/* ADDRESS */

.contacts, .address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
}

.contacts, .address:hover,
.address:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #404bbf;
}

/* MAIN */

.main {
    background-color: #2e2f42;
}
.main-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

/* BUTTON */

.button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4d5ae5;
text-align: center;
}

.button:hover, .button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

/* VALUES */

.values {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.values-names {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* TEAM */

.team-section {
    background-color: #f4f4fd;
}
.team-list {
    background-color: #ffffff;
}

.team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-names {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* PORTFOLIO */

.portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #ffffff;
}

/* FOOTER */

.bottom {
    background-color: #2e2f42;
}

.logo-bottom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4d5ae5;
}

.studio-bottom {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 1.17;
        color: #f4f4fd;
}

.text-bottom {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}